services:
  web:
    image: ghcr.io/abhinavse/abhinavse:latest
    container_name: abhinavse
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    profiles: ["prod"]
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/ase/.docker/config.json:/config.json
    environment:
      - WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_HTTP_API_TOKEN}
    ports:
      - "8069:8069"
    # Run in HTTP API mode, listening on port 8069, cleanup old images
    command: --http-api-update  --cleanup

