services:
  frontend:
    build:
      context: .
      dockerfile: services/frontend/Dockerfile
    image: ghcr.io/abhinavse/frontend:latest
    container_name: abhinavse-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  backend:
    build:
      context: .
      dockerfile: services/backend/Dockerfile
    image: ghcr.io/abhinavse/backend:latest
    container_name: abhinavse-backend
    restart: unless-stopped
    depends_on:
      - frontend
    environment:
      - WEB_SERVICE_URL=http://frontend:3000/internal/update
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    profiles: ["prod"]
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --http-api-update --cleanup

